<div class="logos">
  <a href="https://github.com/appraisal-rb" target="_blank" rel="noopener">
    <img
      src="https://logos.galtzo.com/assets/images/appraisal-rb/avatar-128px.svg"
      alt="appraisal-rb Logo by Aboling0, CC BY-SA 4.0"
      title="appraisal-rb Logo by Aboling0, CC BY-SA 4.0"
    />
  </a>
  <a href="https://github.com/kettle-rb" target="_blank" rel="noopener">
    <img
      src="https://logos.galtzo.com/assets/images/kettle-rb/avatar-128px.svg"
      alt="kettle-rb Logo by Aboling0, CC BY-SA 4.0"
      title="kettle-rb Logo by Aboling0, CC BY-SA 4.0"
      />
  </a>
  <a href="https://github.com/galtzo-floss" target="_blank" rel="noopener">
    <img
      src="https://logos.galtzo.com/assets/images/galtzo-floss/avatar-128px.svg"
      alt="galtzo-floss Logo by Aboling0, CC BY-SA 4.0"
      title="galtzo-floss Logo by Aboling0, CC BY-SA 4.0"
      />
  </a>
  <a href="https://github.com/rubocop-lts" target="_blank" rel="noopener">
    <img
        src="https://logos.galtzo.com/assets/images/rubocop-lts/avatar-128px.svg"
        alt="rubocop-lts Logo by Aboling0, CC BY-SA 4.0"
        title="rubocop-lts Logo by Aboling0, CC BY-SA 4.0"
        />
  </a>
  <a href="https://github.com/ruby-oauth" target="_blank" rel="noopener">
    <img
      src="https://logos.galtzo.com/assets/images/oauth/oauth2/avatar-128px.svg"
      alt="oauth Logo by Chris Messina, CC BY-SA 3.0"
      title="oauth Logo by Chris Messina, CC BY-SA 3.0"
      />
  </a>
  <a href="https://github.com/ruby-openid" target="_blank" rel="noopener">
    <img
      src="https://logos.galtzo.com/assets/images/ruby-openid/avatar-128px.svg"
      alt="ruby-openid Logo by Aboling0, CC BY-SA 4.0"
      title="ruby-openid Logo by Aboling0, CC BY-SA 4.0"
      />
  </a>
</div>

