<div class="logos">
  <% site.data.orgs.sort_by { |o| o['position'] || 999 }.each do |org| %>
    <% next unless org['logo'] && org['forge_gh'] %>
    <a href="<%= org['forge_gh'] %>" target="_blank" rel="noopener">
      <img
        src="<%= org['logo'] %>"
        alt="<%= org['logo-alt'] || "#{org['name']} logo" %>"
        title="<%= org['logo-title'] || "#{org['name']} logo" %>"
      />
    </a>
  <% end %>
</div>
